/* Base Styles */

#root,
#root > div {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  border: none;
  height: .375em;
  background: #f6f8fa;
  margin: 2.4em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

tr:nth-child(even) {
  background: rgba(184, 198, 213, .13);
}

td,
th {
  text-align: left;
  padding: 1.25em;
}

td sub,
th sub {
  vertical-align: baseline;
  padding-left: .375em;
  opacity: .5;
  font-size: 75%;
}

th {
  border-bottom: .375em solid rgba(184, 198, 213, .13);
}

.no-top-margin {
  margin-top: 0;
  padding-top: 0;
}

html,
body,
footer {
  background: #fff !important;
}
