.highlight-container {
  line-height: 42px !important;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  white-space: pre;
  cursor: default;
}

/* Bottom Label Layout */

.highlight-container.highlight-container--bottom-labels {
  padding: 10px 1.125em;
  align-items: flex-start;
}

/* Diagram Layout */

.highlight-container.highlight-container--diagram {
  align-items: flex-start;
}

.highlight-container.highlight-container--diagram.passage.model__content__summary {
  background: transparent;
  align-items: stretch;
  padding: 0;
}
