git+https://github.com/allenai/allennlp-semparse.git@937d5945488a33c61d0047bd74d8106e60340bbd
Flask==1.1.2
pytest==5.4.1
dateparser==0.7.4
dataclasses==0.7.0
parsimonious>=0.8.0
# Used to format and postprocess SQL
sqlparse>=0.2.4
# Used to process tables in WikiTableQuestions
unidecode
# Used in KnowledgeGraphField
editdistance
# Used for the type system for some languages
nltk
