/* Form styles */

form {
  display: block;
}

.form__instructions {
  margin: 1.1em 0 1.1em;
  -webkit-transition: margin .2s ease;
  transition: margin .2s ease;
}

.form__instructions span {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: .5em;
  max-width: 9.375em;
  color: #7c7c7c;
}

.form__instructions select,
.form__field select {
  font-size: .8125em;
  max-width: 11.25em;
  background: white;
}

.form__field {
  -webkit-transition: margin .2s ease;
  transition: margin .2s ease;
}

.form__field+.form__field {
  margin-top: 1.1em;
}

.form__field label {
  display: block;
  font-weight: 600;
  font-size: 1.125em;
  -webkit-transition: font-size .2s ease;
  transition: font-size .2s ease;
}

.form__field label+* {
  margin-top: 0.6em;
}

.form__field input[type=text],
.form__field textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  margin-top: 0.5em;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .6em 0.75em;
  color: #232323;
  border: .125em solid #d4dce2;
  display: block;
  box-sizing: border-box;
  -webkit-transition: padding .2s ease, min-height .2s ease, background-color .2s ease, color .2s ease, border-color .2s ease, opacity .2s ease;
  transition: padding .2s ease, min-height .2s ease, background-color .2s ease, color .2s ease, border-color .2s ease, opacity .2s ease;
}

.form__field input[type=text]::-webkit-input-placeholder,
.form__field textarea::-webkit-input-placeholder {
  color: #b4b4b4;
}

.form__field input[type=text]:-moz-placeholder,
.form__field textarea:-moz-placeholder {
  color: #b4b4b4;
}

.form__field input[type=text]::-moz-placeholder,
.form__field textarea::-moz-placeholder {
  color: #b4b4b4;
}

.form__field input[type=text]:-ms-input-placeholder,
.form__field textarea:-ms-input-placeholder {
  color: #b4b4b4;
}

.form__field input[type=text]:focus,
.form__field textarea:focus {
  outline: 0;
  border-color: #63a7d4;
  box-shadow: 0 0 1.25em rgba(50, 50, 150, .05);
}

.form__field textarea {
  resize: vertical;
  min-height: 5.4em;
}

.form__field .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none
}

.form__field--btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 2.5em;
}

.form__field--btn button {
  padding: 0.1em 3.6em;
}

@media screen and (max-height:800px) {
  .form__instructions {
    margin: 0.5em 0 0.5em;
  }

  .form__field+.form__field {
    margin-top: 0.6em;
  }

  .form__field--btn {
    margin-top: 0.5em;
    height: 2em;
  }

  .form__field input[type=text],
  .form__field textarea {
    padding: .4em 0.5em;
    margin-top: 0.1em;
  }

  .form__field textarea {
    min-height: 4.4em;
  }

  .form__field label {
    font-size: 1em;
  }
}
