.heatmap-container {
  background: #fbfcfd;
  overflow: scroll;
  text-align: center;
}

.heatmap-container + .heatmap-container {
  border-top: 1px solid #e1e5ea;
}

/* Collapsible description */
span + .heatmap-container {
  margin-top: 20px;
}

.heatmap {
  display: inline-block;
  filter: drop-shadow(0 0 40px rgba(0,0,0,.1));
}

table.heatmap__layout {
  margin: 40px;
}

table.heatmap__layout,
table.heatmap__layout > tbody > tr,
table.heatmap__layout > tbody > tr > td {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  width: auto;
  vertical-align: top;
}


table.heatmap__datagrid {
  width: auto;
}

/* td.real-datagrid {
  filter: drop-shadow(inset 0 0 30px rgba(0,0,0,1));
} */

.real-datagrid {
  overflow: hidden;
}

.real-datagrid table {
  position: relative;
}

.real-datagrid table:after,
.real-datagrid table:before {
  display: block;
  content: "";
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  box-shadow: 0 0 9px rgba(35,64,90,.21);
  z-index: 99;
  position: absolute;
}

.real-datagrid table:after {
  width: 30px;
  height: 100%;
  top: 0;
  left: -30px;
}

table.heatmap__datagrid tr {
  background: transparent;
}

table.heatmap__datagrid th {
  padding: 0;
  margin: 0;
  border: none;
  font-weight: normal;
}

table.heatmap__datagrid th span {
  font-size: 16px;
  line-height: 20px;
  color: #606060;
  white-space: nowrap;
  display: block;
}

tr.heatmap__col-labels {

}

th.heatmap__col-labels__placeholder {
  padding: 0;
  background: #f4f5f6;
  background: transparent;
}

tr.heatmap__col-labels th.heatmap__label {
  padding: 8px 0 0 0;
  background: #fff;
  border-right: 1px solid #e9e9e9;
  vertical-align: bottom;
  text-align: left;
  width: 35px;
  max-width: 35px;
}

.heatmap__label__outer {
  display: table;
  text-align: left;
}

.heatmap__label__inner {
  padding: 50% 0;
  height: 0;
  min-height: 16px;
  text-align: left;
}

tr.heatmap__col-labels th.heatmap__label span {
  transform-origin: 7px -2px;
  transform: rotate(-90deg) translate(-100%);
  margin-top: -50%;
  white-space: nowrap;
  text-align: left;
  height: 16px;
  line-height: 16px;
}

tr.heatmap__datagrid__row th.heatmap__label {
  text-align: right;
  padding: 0 8px 0 10px;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  height: 35px;
}

tr.heatmap__datagrid__row th.heatmap__label span {
  margin-bottom: 1px;
  padding: 4px 0;
}

td.heatmap__cell {
  padding: 0;
  border: 1px solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  background: #fff;
}

tr.heatmap__datagrid__row:last-child th.heatmap__label,
tr.heatmap__datagrid__row:last-child td.heatmap__cell {
  border-bottom-width: 0;
}

tr.heatmap__col-labels th.heatmap__label:last-child,
tr.heatmap__datagrid__row td.heatmap__cell:last-child {
  border-right-width: 0;
}

.heatmap__color-box {
  /* width: 41px; TODO(aarons): change cell width when UI is moved to drawer */
  width: 35px;
  height: 35px;
  background: #329fff;
}
