/********************************************
Highlight Component Styles
********************************************/

.highlight-container {
  line-height: 36px !important;
}

.highlight-container.highlight-container--bottom-labels {
  line-height: 52px !important;
  padding: 10px 1.125em
}

.highlight-container,
.highlight-container--bottom-labels {
  cursor: default;
}

.highlight {
  border: 2px solid;
  color: #232323;
  margin: 0 2px -5px 2px;
  padding: 0px 5px;
  box-shadow: 2px 4px 20px rgba(0,0,0,0.1);
  position: relative;
  display: inline-block;
  line-height: 24px;
  cursor: default;
  min-width: 26px;
}

.highlight,
.highlight span {
  transition: background-color .1s ease,
              color .1s ease,
              box-shadow .1s ease,
              opacity .1s ease;
}

.highlight .highlight {
  margin-top: 3px;
  margin-bottom: 3px;
}

.highlight + span:not(.highlight):before {
  content: " ";
}

.highlight.bottom {
  padding: 0px 5px 16px 5px;
}

.highlight.short-text {
  text-align: center;
}

.highlight.bottom:after {
  display: block;
  position: absolute;
  height: 15px;
  content: attr(data-label);
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
}

.highlight.active,
.highlight.active span {
  color: #fff;
}

.highlight.active .highlight:not(.active) span {
  color: #232323;
}

.highlight.left:before,
.highlight.right:after {
  display: inline-block;
  height: 100%;
  padding: 0 8px;
  vertical-align: top;
  content: attr(data-label);
  font-size: 11px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
}

.highlight.left:before {
  margin: 0 5px 0 -5px;
}

.highlight.right:after {
  margin: 0 -5px 0 5px;
}

.highlight.left:after,
.highlight.right:before {
  display: none;
}

.highlight.clickable {
  cursor: pointer;
}

.highlight.clickable.clickable.selected {
  cursor: default;
}

.highlight.clickable.clicking {
  opacity: 0.66;
  transition-duration: 0s;
}

.clicking .highlight,
.clicking .highlight span,
.clicking .highlight:before,
.clicking .highlight:after {
  transition-duration: 0s;
}

/********************************************/

/* Gray (Default) */

.highlight.gray {
  border-color: #a0aab5;
  background: #f2f4f6;
}

.highlight.gray:before,
.highlight.gray:after {
  background-color: #a0aab5;
}

.highlight.gray.active {
  background: #a0aab5;
}

.highlight.gray.active:before,
.highlight.gray.active:after {
  background-color: #aab3bd;
}

/********************************************/

/* Blue */

.highlight.blue {
  border-color: #4db1f7;
  background: #edf4fa;
}

.highlight.blue:before,
.highlight.blue:after {
  background-color: #4db1f7;
}

.highlight.blue.active {
  background: #4db1f7;
}

.highlight.blue.active:before,
.highlight.blue.active:after {
  background-color: #5fb9f8;
}

/********************************************/

/* Green */

.highlight.green {
  border-color: #90ac4e;
  background: #f1f4f1;
}

.highlight.green:before,
.highlight.green:after {
  background-color: #90ac4e;
}

.highlight.green.active {
  background: #90ac4e;
}

.highlight.green.active:before,
.highlight.green.active:after {
  background-color: #9bb460;
}

/********************************************/

/* Pink */

.highlight.pink {
  border-color: #ce6587;
  background: #f4f1f4;
}

.highlight.pink:before,
.highlight.pink:after {
  background-color: #ce6587;
}

.highlight.pink.active {
  background: #ce6587;
}

.highlight.pink.active:before,
.highlight.pink.active:after {
  background-color: #d37593;
}

/********************************************/

/* Orange */

.highlight.orange {
  border-color: #dd9e3e;
  background: #f2f4f4;
}

.highlight.orange:before,
.highlight.orange:after {
  background-color: #dd9e3e;
}

.highlight.orange.active {
  background: #dd9e3e;
}

.highlight.orange.active:before,
.highlight.orange.active:after {
  background-color: #e0a852;
}

/********************************************/

/* Purple */

.highlight.purple {
  border-color: #9a5eba;
  background: #f1f0f7;
}

.highlight.purple:before,
.highlight.purple:after {
  background-color: #9a5eba;
}

.highlight.purple.active {
  background: #9a5eba;
}

.highlight.purple.active:before,
.highlight.purple.active:after {
  background-color: #a46ec1;
}

/********************************************/

/* Teal */

.highlight.teal {
  border-color: #5bb1ad;
  background: #eef4f6;
}

.highlight.teal:before,
.highlight.teal:after {
  background-color: #5bb1ad;
}

.highlight.teal.active {
  background: #5bb1ad;
}

.highlight.teal.active:before,
.highlight.teal.active:after {
  background-color: #6cb9b5;
}

/********************************************/

/* Tan */

.highlight.tan {
  border-color: #b0a481;
  background: #f2f4f4;
}

.highlight.tan:before,
.highlight.tan:after {
  background-color: #b0a481;
}

.highlight.tan.active {
  background: #b0a481;
}

.highlight.tan.active:before,
.highlight.tan.active:after {
  background-color: #b8ad8e;
}

/********************************************/

/* Red */

.highlight.red {
  border-color: #df3838;
  background: #f5eef0;
}

.highlight.red:before,
.highlight.red:after {
  background-color: #df3838;
}

.highlight.red.active {
  background: #df3838;
}

.highlight.red.active:before,
.highlight.red.active:after {
  background-color: #e24c4c;
}

/********************************************/

/* Cobalt */

.highlight.cobalt {
  border-color: #5f5b97;
  background: #eef0f5;
}

.highlight.cobalt:before,
.highlight.cobalt:after {
  background-color: #5f5b97;
}

.highlight.cobalt.active {
  background: #5f5b97;
}

.highlight.cobalt.active:before,
.highlight.cobalt.active:after {
  background-color: #6f6ca2;
}

/********************************************/

/* Brown */

.highlight.brown {
  border-color: #6a4e3d;
  background: #f2f4f6;
}

.highlight.brown:before,
.highlight.brown:after {
  background-color: #6a4e3d;
}

.highlight.brown.active {
  background: #6a4e3d;
}

.highlight.brown.active:before,
.highlight.brown.active:after {
  background-color: #796051;
}

/********************************************/

/* Slate */

.highlight.slate {
  border-color: #3b4247;
  background: #eceff1;
}

.highlight.slate:before,
.highlight.slate:after {
  background-color: #3b4247;
}

.highlight.slate.active {
  background: #3b4247;
}

.highlight.slate.active:before,
.highlight.slate.active:after {
  background-color: #4f555a;
}

/********************************************/

/* Fuchsia */

.highlight.fuchsia {
  border-color: #e875e8;
  background: #f5f1f9;
}

.highlight.fuchsia:before,
.highlight.fuchsia:after {
  background-color: #e875e8;
}

.highlight.fuchsia.active {
  background: #e875e8;
}

.highlight.fuchsia.active:before,
.highlight.fuchsia.active:after {
  background-color: #ea83ea;
}

/********************************************/

.highlight__tooltip {
  display: block;
  position: absolute;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  border-radius: 6px;
  background: rgba(70,70,70,.9);
  padding: 4px 9px 5px 9px;
  opacity: 0;
  z-index: -9;
  left: 50%;
  top: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  transform: translate(-50%, -6px);
  transition: opacity .2s ease,
              z-index .2s ease,
              transform .2s ease .3s;
  font-weight: bold;
  white-space: nowrap;
  user-select: none;
  cursor: default;
}

.highlight__tooltip:before {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -6px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent rgba(70,70,70,.9) transparent;
}

.highlight:hover .highlight__tooltip {
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0);
  transition-delay: 0s;
}

.highlight__tooltip:hover {
  z-index: -9 !important;
}
