.highlight-container {
  line-height: 42px !important;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  white-space: pre;
  cursor: default;
}

.highlight {
  border: 2px solid;
  color: #232323;
  margin: 4px 6px 4px 3px;
  vertical-align: middle;
  box-shadow: 2px 4px 20px rgba(0,0,0,0.1);
  position: relative;
  cursor: default;
  min-width: 26px;
  line-height: 22px;
  display: flex;
}

.highlight:last-child {
  margin-right: 4px;
}

.highlight:first-child {
  margin-left: 0;
}

.highlight,
.highlight span {
  transition: background-color .1s ease,
              color .1s ease,
              box-shadow .1s ease,
              opacity .1s ease;
}

.highlight.short-text {
  text-align: center;
}

.highlight__label {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 8px;
  text-align: center;
}

.highlight__label strong {
  display: block;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: subpixel-antialiased;
}

.highlight__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 2px 2px 6px;
}

/* Bottom Label Layout */

.highlight-container.highlight-container--bottom-labels {
  padding: 10px 1.125em;;
  align-items: flex-start;
}

.highlight-container.highlight-container--bottom-labels .highlight.bottom {
  margin-top: 6px;
}

.highlight.bottom {
  display: block;
  white-space: normal;
}

.highlight.bottom .highlight__content:after {
  content: " ";
  padding-right: 3px;
}

.highlight.bottom .highlight__label {
  line-height: 14px;
  padding-top: 1px;
}

/* Interactions */

.highlight.active,
.highlight.active span {
  color: #fff;
}

.highlight.active .highlight:not(.active) span {
  color: #232323;
}

.highlight.clickable {
  cursor: pointer;
}

.highlight.clickable.clickable.selected {
  cursor: default;
}

.highlight.clickable.clicking {
  opacity: 0.66;
  transition-duration: 0s;
}

.clicking .highlight,
.clicking .highlight span,
.clicking .highlight:before,
.clicking .highlight:after {
  transition-duration: 0s;
}

/********************************************
Colors
********************************************/

/* Gray (Default) */

.highlight.gray {
  border-color: #a0aab5;
  background: #f2f4f6;
}

.highlight.gray .highlight__label {
  background-color: #a0aab5;
}

.highlight.gray.active {
  background: #a0aab5;
}

.highlight.gray.active .highlight__label {
  background-color: #aab3bd;
}

/********************************************/

/* Blue */

.highlight.blue {
  border-color: #4db1f7;
  background: #edf4fa;
}

.highlight.blue > .highlight__label {
  background-color: #4db1f7;
}

.highlight.blue.active {
  background: #4db1f7;
}

.highlight.blue.active > .highlight__label {
  background-color: #5fb9f8;
}

/********************************************/

/* Green */

.highlight.green {
  border-color: #90ac4e;
  background: #f1f4f1;
}

.highlight.green > .highlight__label {
  background-color: #90ac4e;
}

.highlight.green.active {
  background: #90ac4e;
}

.highlight.green.active > .highlight__label {
  background-color: #9bb460;
}

/********************************************/

/* Pink */

.highlight.pink {
  border-color: #ce6587;
  background: #f4f1f4;
}

.highlight.pink > .highlight__label {
  background-color: #ce6587;
}

.highlight.pink.active {
  background: #ce6587;
}

.highlight.pink.active > .highlight__label {
  background-color: #d37593;
}

/********************************************/

/* Orange */

.highlight.orange {
  border-color: #dd9e3e;
  background: #f2f4f4;
}

.highlight.orange > .highlight__label {
  background-color: #dd9e3e;
}

.highlight.orange.active {
  background: #dd9e3e;
}

.highlight.orange.active > .highlight__label {
  background-color: #e0a852;
}

/********************************************/

/* Purple */

.highlight.purple {
  border-color: #9a5eba;
  background: #f1f0f7;
}

.highlight.purple > .highlight__label {
  background-color: #9a5eba;
}

.highlight.purple.active {
  background: #9a5eba;
}

.highlight.purple.active > .highlight__label {
  background-color: #a46ec1;
}

/********************************************/

/* Teal */

.highlight.teal {
  border-color: #5bb1ad;
  background: #eef4f6;
}

.highlight.teal > .highlight__label {
  background-color: #5bb1ad;
}

.highlight.teal.active {
  background: #5bb1ad;
}

.highlight.teal.active > .highlight__label {
  background-color: #6cb9b5;
}

/********************************************/

/* Tan */

.highlight.tan {
  border-color: #b0a481;
  background: #f2f4f4;
}

.highlight.tan > .highlight__label {
  background-color: #b0a481;
}

.highlight.tan.active {
  background: #b0a481;
}

.highlight.tan.active > .highlight__label {
  background-color: #b8ad8e;
}

/********************************************/

/* Red */

.highlight.red {
  border-color: #df3838;
  background: #f5eef0;
}

.highlight.red > .highlight__label {
  background-color: #df3838;
}

.highlight.red.active {
  background: #df3838;
}

.highlight.red.active > .highlight__label {
  background-color: #e24c4c;
}

/********************************************/

/* Cobalt */

.highlight.cobalt {
  border-color: #5f5b97;
  background: #eef0f5;
}

.highlight.cobalt > .highlight__label {
  background-color: #5f5b97;
}

.highlight.cobalt.active {
  background: #5f5b97;
}

.highlight.cobalt.active > .highlight__label {
  background-color: #6f6ca2;
}

/********************************************/

/* Brown */

.highlight.brown {
  border-color: #6a4e3d;
  background: #f2f4f6;
}

.highlight.brown > .highlight__label {
  background-color: #6a4e3d;
}

.highlight.brown.active {
  background: #6a4e3d;
}

.highlight.brown.active > .highlight__label {
  background-color: #796051;
}

/********************************************/

/* Slate */

.highlight.slate {
  border-color: #3b4247;
  background: #eceff1;
}

.highlight.slate > .highlight__label {
  background-color: #3b4247;
}

.highlight.slate.active {
  background: #3b4247;
}

.highlight.slate.active > .highlight__label {
  background-color: #4f555a;
}

/********************************************/

/* Fuchsia */

.highlight.fuchsia {
  border-color: #e875e8;
  background: #f5f1f9;
}

.highlight.fuchsia > .highlight__label {
  background-color: #e875e8;
}

.highlight.fuchsia.active {
  background: #e875e8;
}

.highlight.fuchsia.active > .highlight__label {
  background-color: #ea83ea;
}

/********************************************
Tooltip
********************************************/

.highlight__tooltip {
  display: block;
  position: absolute;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  border-radius: 6px;
  background: rgba(70,70,70,.9);
  padding: 4px 9px 5px 9px;
  opacity: 0;
  z-index: -9;
  left: 50%;
  top: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  transform: translate(-50%, -6px);
  transition: opacity .2s ease,
              z-index .2s ease,
              transform .2s ease .3s;
  font-weight: bold;
  white-space: nowrap;
  user-select: none;
  cursor: default;
}

.highlight__tooltip:before {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -6px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent rgba(70,70,70,.9) transparent;
}

.highlight:hover .highlight__tooltip {
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0);
  transition-delay: 0s;
}

.highlight__tooltip:hover {
  z-index: -9 !important;
}
