allennlp @ git+https://github.com/allenai/allennlp.git@24c9c99554975a87f45bd8bfbebf4e5769439d75
allennlp-models @ git+https://github.com/allenai/allennlp-models.git@48150a3cc0114c0bf48ff55d24ad0e3feadee924
allennlp-semparse==0.0.2
Flask>=2.1.0
pytest==6.2.2
# Need to pin this to avoid a dependency conflict :(
tensorboardX==1.2
protobuf<=3.20
