# TODO (epwalsh): Update these to latest nightly release, only depend on models
# directly so that dependabot updates these in a single PR.
git+https://github.com/allenai/allennlp.git@edcb6d3466d2c4263f1e6a5731c6ace5358f47e8
git+https://github.com/allenai/allennlp-models.git@0b05944f34762e84707317ff3f5b843646de2e58
Flask==1.1.2
pytest==6.1.1
